<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 ngxCountdown [ngxCountdownTimeout]="30" (cdTicToc)="onCdTicToc($event)">Welcome to {{ title }}!</h1>
  <img
    [ngStyle]="{ transform: transformDeg }"
    width="300"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
</div>
<ngx-countdown-bar #counter [timeout]="30" (tictoc)="compTicToc($event)"></ngx-countdown-bar>
<div class="actions">
  <span> {{ timer }}</span>
  <span> {{ state }}</span>
  <br />
  <button (click)="pause()">Pause</button>
  <button (click)="play()">Play</button>
  <button (click)="reset()">Reset</button>
</div>
